.MuiDataGrid-columnHeader {
    min-width: "200px !important";
}

.ExportAndSearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

// .toolbar-container-wrapper {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     -webkit-box-align: center;
//     padding: 4px 4px 0px
// }

.SelectRightPadding{
    padding-right: .5rem !important;
}
