.main div{
    margin-bottom: 10px;
    width: 100%;
    }
    .MuiTablePagination-toolbar p{
        margin-top: auto !important;
         margin-bottom: auto !important;
    }
    .EditIcon{
        cursor: pointer;
    }
    .DeleteIcon{
        cursor: pointer;
    }